@font-face {
    font-family: 'DIN-Black';
    src: url('../assets/fonts/DINRoundPro-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'DIN-Medi';
    src: url('../assets/fonts/DINRoundPro-Medi.ttf') format('truetype');
}

@font-face {
    font-family: 'DIN-Bold';
    src: url('../assets/fonts/DINRoundPro-Bold.ttf') format('truetype');
}


ul {
    list-style-type: none;
}

#offre {
    color: #FB3CEE;
    size: 29px;
    position: absolute;
    top: 5px;
    left: 18px;
    width: 88px;
    height: 37px;
}

#offre1 {
    position: absolute;
    top: 15px;
    left: 514px;
    width: 115px;
    height: 18px;
    font-family: 'DIN-Black';
    size: 14.5px;
    background: #3300CC;
    border-radius: 30px;
    color: #FFFFFF;
}


#offre2 {
    font-size: 14.5px;
    position: absolute;
    font-family: 'DIN-Black';
    border-radius: 22px;
    background-color: #FF6600;
    color: #FFFFFF;
    top: 15px;
    left: 713px;
    width: 40px;
    height: 18px;
}

#offre3 {
    position: absolute;
    top: 15px;
    left: 827px;
    width: 40px;
    height: 18px;
    font-family: 'DIN-Black';
    font-size: 14.5px;
    background-color: #7364FD;
    border-radius: 22PX;
    color: #FFFFFF;
}

#offre4 {
    position: absolute;
    font-family: 'DIN-Black';
    border-radius: 30px;
    background-color: #FB3CEE;
    color: #FFFFFF;
    top: 15px;
    left: 954px;
    width: 50px;
    height: 18px
}

#offre5 {
    position: absolute;
    font-family: 'DIN-Black';
    border-radius: 30px;
    background-color: #44E5FA;
    color: #FFFFFF;
    top: 15px;
    left: 1084px;
    width: 75px;
    height: 18px;
}

#offre6 {
    position: absolute;
    top: 13px;
    left: 1199px;
    width: 22px;
    height: 22px;

}

#offre7 {
    position: absolute;
    top: 6px;
    left: 1266px;
    width: 89px;
    height: 35px;
}

.spectaculaire {
    position: absolute;
    top: 50px;
    color: #FB3CEE;
    font-size: 29px;
}

#borderPink1 {
    position: absolute;
    top: 199px;
    left: 32px;
    width: 60px;
    height: 15px;
    width: 60px;
    background-color: #FB3CEE;
    border-radius: 30px;
}

#COD {
    position: absolute;
    top: 223px;
    left: 125px;
    width: 117px;
    height: 46px;
    color: #3300CC;
    size: 22px;
    font-family: 'DIN-Medi';
}

#Saint-Lazare {
    position: absolute;
    top: 310px;
    left: 35px;
    width: 298px;
    height: 26px;
    font-family: 'DIN-Black';
    color: #FFFFFF;
    background-color: #3300CC;
    border-radius: 30px;
    size: 20px;
    font-weight: bold;
    text-align: left;
}

#COD1 {
    position: absolute;
    top: 365px;
    left: 66px;
    width: 78px;
    height: 105px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#COD1 h3 {
    font-family: 'DIN-Black';
}

#COD1>p {
    font-family: 'DIN-Bold';
}

#COD2 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: absolute;
    top: 495px;
    left: 66px;
    width: 78px;
    height: 105px;
}

#COD2>h3 {
    font-family: 'DIN-Bold';
}

#COD2>p {
    font-family: 'DIN-Black';
}

#COD3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 578px;
    left: 61px;
    width: 62px;
    height: 41px;
    gap: 50px;
}

#COD3>p {
    font-family: 'DIN-Black';
}

#COD3>h3 {
    font-family: 'DIN-Bold';
}

#borderPink2 {
    position: absolute;
    top: 670px;
left: 316px;
width: 30px;
height: 0px;
    height: 15px;
    width: 60px;
    background-color: #FB3CEE;
    border-radius: 30px;
}

.gif {
    width: 1073px;
    height: 714px;
    position: absolute;
    top: 54px;
left: 565px;
width: 1073px;
height: 714px;
}

